<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Baicuoiki.Properties.Settings.QLcongtynoithatConnectionString"
            connectionString="Data Source=DESKTOP-T11FG2C\SQLEXPRESS;Initial Catalog=QLcongtynoithat;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>